//
// Footer
//

footer.nav{
  background-color: $black;
  padding: 5rem 3.75rem;
  font-weight: 300;
  letter-spacing: 0.3px;

  a {
    border: none;
    color: $gray-400;
    font-size: 0.95rem;

    &:hover,
    &:focus {
      color: $white;
      opacity: 1;
    }
  }
  
  a {
    
    &:first-child {
        padding-left: 0;
    }
    
    &:last-child {  
        padding-right: 0;
    }
    
  }
  
}