<footer>
	<ol>
		<li>Navigation</li>
		<li><a href="/">Works</a></li>
		<li><a href="/">Blog</a></li>
		<li><a href="/">About</a></li>
		<li><a href="/">Colophon</a></li>
	</ol>
	<ol>
		<li>Social</li>
		<li><a href="/">Facebook</a></li>
		<li><a href="/">Instagram</a></li>
		<li><a href="/">Dribbble</a></li>
		<li><a href="/">Twitter</a></li>
	</ol>
	<ol>
		<li>Short Bio</li>
		<p>I’m a Ukrainian self-taught Designer focusing on UX/UI for mobile and web. Currently not based anywhere, moving and freelancing from wherever I happen to be, mostly Europe. <a href="/">What else?</a></p>
<!--		<li class="email"><a href="mailto:eugene.dobrovolsky@gmail.com?subject=Inquiry">eugene.dobrovolsky@gmail.com</a></li>-->
	</ol>
</footer>