 <footer class="nav">
  
  <li class="nav col-sm px-0 justify-content-start">
    <a class="nav-link" href="#">Work</a>
    <a class="nav-link" href="/post">Journal</a>
    <a class="nav-link" href="#">About</a>
    <a class="nav-link" href="#">Contact</a>
    <a class="nav-link" href="#">Colophon</a>
  </li>


  <li class="nav col-sm px-0 justify-content-end">
    <a class="nav-link" href="https://dribbble.com/genedobrovolsky" target="_blank">Dribbble</a>
    <a class="nav-link" href="https://www.instagram.com/genedobrovolsky/" target="_blank">Instagram</a>
    <a class="nav-link" href="https://www.facebook.com/eugenedobrovolsky" target="_blank">Facebook</a>
    <a class="nav-link" href="https://twitter.com/genedobrovolsky" target="_blank">Twitter</a>
  </li>
  
</footer>