 <footer class="nav mt-5">
  
  <li class="nav col-sm justify-content-start">
    <a class="nav-link" href="#">Work</a>
    <a class="nav-link" href="#">Journal</a>
    <a class="nav-link" href="#">About</a>
    <a class="nav-link" href="#">Email me</a>
    <a class="nav-link" href="#">Colophon</a>
  </li>


  <li class="nav col-sm justify-content-end">
    <a class="nav-link" href="#">Dribbble</a>
    <a class="nav-link" href="#">Instagram</a>
    <a class="nav-link" href="#">Facebook</a>
    <a class="nav-link" href="#">Twitter</a>
  </li>
  
</footer>