 <footer class="nav">
  
  <li class="nav col-sm px-0   align-items-start flex-column flex-lg-row   justify-content-lg-start">
    <a class="nav-link" href="/">Work</a>
    <a class="nav-link" href="/posts">Journal</a>
    <a class="nav-link" href="/about/about">About</a>
    <a class="nav-link" href="/posts/post_0">Colophon</a>
  </li>

 <hr class="d-flex w-100 my-5 d-sm-none">

  <li class="nav col-sm px-0   align-items-start flex-column flex-lg-row justify-content-lg-end">
    <a class="nav-link p-xs-0  mx-md-1 px-md-5  mx-lg-0 px-lg-3" href="https://dribbble.com/genedobrovolsky" target="_blank">Dribbble</a>
    <a class="nav-link p-xs-0  mx-md-1 px-md-5  mx-lg-0 px-lg-3" href="https://www.instagram.com/genedobrovolsky/" target="_blank">Instagram</a>
    <a class="nav-link p-xs-0  mx-md-1 px-md-5  mx-lg-0 px-lg-3" href="https://www.facebook.com/eugenedobrovolsky" target="_blank">Facebook</a>
    <a class="nav-link p-xs-0  mx-md-1 px-md-5  mx-lg-0 px-lg-3" href="mailto:eugene.dobrovolsky@gmail.com?subject=Inquiry">Email Me</a>
  </li>
  
</footer>